In [2]:
import pandas as pd
from finrl.preprocessing import data
data_df=data.load_dataset('chicago_pmi/EURUSD/raw/EURUSD_Chicago_Pmi_2018-01-31.csv')

In [4]:
data_df

                                      bid      ask       bid_vol       ask_vol
time
2018-01-31 13:45:00.310000+00:00  1.24664  1.24666  3.560000e+06  1.000000e+06
2018-01-31 13:45:00.618000+00:00  1.24666  1.24667  1.120000e+06  1.500000e+06
2018-01-31 13:45:01.147000+00:00  1.24666  1.24669  1.950000e+06  2.810000e+06
2018-01-31 13:45:01.306000+00:00  1.24665  1.24667  1.950000e+06  1.000000e+06
2018-01-31 13:45:01.847000+00:00  1.24665  1.24667  1.000000e+06  1.000000e+06
...                                   ...      ...           ...           ...
2018-01-31 15:44:56.642000+00:00  1.24705  1.24707  2.620000e+06  1.870000e+06
2018-01-31 15:44:57.183000+00:00  1.24705  1.24710  9.370000e+06  1.695000e+07
2018-01-31 15:44:57.995000+00:00  1.24706  1.24707  1.310000e+06  1.000000e+06
2018-01-31 15:44:58.507000+00:00  1.24704  1.24708  5.320000e+06  3.370000e+06
2018-01-31 15:44:59.534000+00:00  1.24706  1.24708  1.000000e+06  2.250000e+06

[13635 rows x 4 columns]

In [51]:
data_ask_bid = data_df[['ask', 'bid']].resample('1S').ohlc()

In [41]:
data_ask_bid.head()

                               ask                                 bid  \
                              open     high      low    close     open
time
2018-01-31 13:45:00+00:00  1.24666  1.24667  1.24666  1.24667  1.24664
2018-01-31 13:45:01+00:00  1.24669  1.24669  1.24667  1.24667  1.24666
2018-01-31 13:45:02+00:00      NaN      NaN      NaN      NaN      NaN
2018-01-31 13:45:03+00:00  1.24667  1.24667  1.24667  1.24667  1.24666
2018-01-31 13:45:04+00:00  1.24667  1.24667  1.24667  1.24667  1.24666


                              high      low    close
time
2018-01-31 13:45:00+00:00  1.24666  1.24664  1.24666
2018-01-31 13:45:01+00:00  1.24666  1.24665  1.24665
2018-01-31 13:45:02+00:00      NaN      NaN      NaN
2018-01-31 13:45:03+00:00  1.24666  1.24665  1.24665
2018-01-31 13:45:04+00:00  1.24666  1.24666  1.24666

In [53]:
data_ask_bid['ask']['open']

time
2018-01-31 13:45:00+00:00    1.24666
2018-01-31 13:45:01+00:00    1.24669
2018-01-31 13:45:02+00:00        NaN
2018-01-31 13:45:03+00:00    1.24667
2018-01-31 13:45:04+00:00    1.24667
                              ...
2018-01-31 15:44:55+00:00    1.24705
2018-01-31 15:44:56+00:00    1.24704
2018-01-31 15:44:57+00:00    1.24710
2018-01-31 15:44:58+00:00    1.24708
2018-01-31 15:44:59+00:00    1.24708
Freq: S, Name: open, Length: 7200, dtype: float64

In [102]:
import os
data_ask_concat=[]
data_bid_concat=[]
root=r'C:\Users\Lenovo\Desktop\QAM\data'
for file in os.listdir(root):
    if file.endswith('.csv'):
        data_df=pd.read_csv(root+'\\'+file)
        data_df=data_df.drop(data_df.columns[0], axis=1)
        data_df.time = pd.to_datetime(data_df.time)
        data_df=data_df.set_index('time')
        data_ask = data_df['ask'].resample('15Min').ohlc()
        data_bid =data_df['bid'].resample('15Min').ohlc()
        if len(data_ask_concat)==0 and len(data_bid_concat)==0:
            data_ask_concat=data_ask
            data_bid_concat=data_bid
        else:
            data_ask_concat=pd.concat([data_ask_concat, data_ask])
            data_bid_concat=pd.concat([data_bid_concat, data_bid])

In [107]:
data_ask_bid_concat=pd.concat([data_ask_concat, data_bid_concat], axis=1, keys=['ask', 'bid'])

In [32]:
data_ask_bid_concat.head()

NameError: name 'data_ask_bid_concat' is not defined