In [1]:
import pandas as pd
data_df=pd.read_csv(r'C:\Users\Lenovo\Desktop\QAM\data\Chicago_Pmi_2018-01-31.csv')

In [112]:
data_df=data_df.drop(data_df.columns[0], axis=1)
data_df.time = pd.to_datetime(data_df.time)
data_df['time'] = pd.to_datetime(data_df.time).dt.tz_localize(None)
data_df=data_df.set_index('time')
data_ask = data_df['ask'].resample('15Min').ohlc()
data_bid =data_df['bid'].resample('15Min').ohlc()

In [113]:
data_df.head()

                                      bid      ask      bid_vol      ask_vol
time
2018-01-31 13:45:00.310000+00:00  1.24664  1.24666  3559999.943  1000000.000
2018-01-31 13:45:00.618000+00:00  1.24666  1.24667  1120000.005  1500000.000
2018-01-31 13:45:01.147000+00:00  1.24666  1.24669  1950000.048  2809999.943
2018-01-31 13:45:01.306000+00:00  1.24665  1.24667  1950000.048  1000000.000
2018-01-31 13:45:01.847000+00:00  1.24665  1.24667  1000000.000  1000000.000

In [80]:
data_ask_bid=pd.concat([data_ask, data_bid], axis=1, keys=['ask', 'bid'])

In [81]:
data_ask_bid.head()

                               ask                                 bid  \
                              open     high      low    close     open
time
2018-01-31 13:45:00+00:00  1.24666  1.24702  1.24632  1.24648  1.24664
2018-01-31 14:00:00+00:00  1.24651  1.24661  1.24454  1.24478  1.24648
2018-01-31 14:15:00+00:00  1.24478  1.24556  1.24462  1.24531  1.24474
2018-01-31 14:30:00+00:00  1.24531  1.24555  1.24481  1.24522  1.24528
2018-01-31 14:45:00+00:00  1.24522  1.24603  1.24516  1.24592  1.24520


                              high      low    close
time
2018-01-31 13:45:00+00:00  1.24698  1.24630  1.24645
2018-01-31 14:00:00+00:00  1.24659  1.24449  1.24474
2018-01-31 14:15:00+00:00  1.24555  1.24460  1.24530
2018-01-31 14:30:00+00:00  1.24553  1.24479  1.24518
2018-01-31 14:45:00+00:00  1.24602  1.24514  1.24589

In [102]:
import os
data_ask_concat=[]
data_bid_concat=[]
root=r'C:\Users\Lenovo\Desktop\QAM\data'
for file in os.listdir(root):
    if file.endswith('.csv'):
        data_df=pd.read_csv(root+'\\'+file)
        data_df=data_df.drop(data_df.columns[0], axis=1)
        data_df.time = pd.to_datetime(data_df.time)
        data_df=data_df.set_index('time')
        data_ask = data_df['ask'].resample('15Min').ohlc()
        data_bid =data_df['bid'].resample('15Min').ohlc()
        if len(data_ask_concat)==0 and len(data_bid_concat)==0:
            data_ask_concat=data_ask
            data_bid_concat=data_bid
        else:
            data_ask_concat=pd.concat([data_ask_concat, data_ask])
            data_bid_concat=pd.concat([data_bid_concat, data_bid])

In [107]:
data_ask_bid_concat=pd.concat([data_ask_concat, data_bid_concat], axis=1, keys=['ask', 'bid'])

In [108]:
data_ask_bid_concat.head()

                               ask                                 bid  \
                              open     high      low    close     open
time
2018-01-31 13:45:00+00:00  1.24666  1.24702  1.24632  1.24648  1.24664
2018-01-31 14:00:00+00:00  1.24651  1.24661  1.24454  1.24478  1.24648
2018-01-31 14:15:00+00:00  1.24478  1.24556  1.24462  1.24531  1.24474
2018-01-31 14:30:00+00:00  1.24531  1.24555  1.24481  1.24522  1.24528
2018-01-31 14:45:00+00:00  1.24522  1.24603  1.24516  1.24592  1.24520


                              high      low    close
time
2018-01-31 13:45:00+00:00  1.24698  1.24630  1.24645
2018-01-31 14:00:00+00:00  1.24659  1.24449  1.24474
2018-01-31 14:15:00+00:00  1.24555  1.24460  1.24530
2018-01-31 14:30:00+00:00  1.24553  1.24479  1.24518
2018-01-31 14:45:00+00:00  1.24602  1.24514  1.24589