In [1]:
#start running from this cell 
from finrl.preprocessing import influx_data
from finrl.preprocessing import data

In [2]:
influx_data.export_csv_from_influx_chicago('AUDUSD', 3600, 'chicago_pmi/AUDUSD/raw')

31/07/2020, 21:45:00+0800
1596203100.0
30/06/2020, 21:45:00+0800
1593524700.0
29/05/2020, 21:45:00+0800
1590759900.0
30/04/2020, 21:45:00+0800
1588254300.0
31/03/2020, 21:45:00+0800
1585662300.0
28/02/2020, 22:45:00+0800
1582901100.0
31/01/2020, 22:45:00+0800
1580481900.0
30/12/2019, 22:45:00+0800
1577717100.0
27/11/2019, 22:45:00+0800
1574865900.0
31/10/2019, 21:45:00+0800
1572529500.0
30/09/2019, 21:45:00+0800
1569851100.0
30/08/2019, 21:45:00+0800
1567172700.0
31/07/2019, 21:45:00+0800
1564580700.0
28/06/2019, 21:45:00+0800
1561729500.0
31/05/2019, 21:45:00+0800
1559310300.0
30/04/2019, 21:45:00+0800
1556631900.0
29/03/2019, 21:45:00+0800
1553867100.0
28/02/2019, 22:45:00+0800
1551365100.0
31/01/2019, 22:45:00+0800
1548945900.0
28/12/2018, 22:45:00+0800
1546008300.0
30/11/2018, 22:45:00+0800
1543589100.0
31/10/2018, 21:45:00+0800
1540993500.0
28/09/2018, 21:45:00+0800
1538142300.0
31/08/2018, 21:45:00+0800
1535723100.0
31/07/2018, 21:45:00+0800
1533044700.0
29/06/2018, 21:45:00+0800
1530279900.0
31/05/2018, 21:45:00+0800
1527774300.0
30/04/2018, 21:45:00+0800
1525095900.0
29/03/2018, 21:45:00+0800
1522331100.0
28/02/2018, 22:45:00+0800
1519829100.0
31/01/2018, 22:45:00+0800
1517409900.0
28/12/2017, 22:45:00+0800
1514472300.0
30/11/2017, 22:45:00+0800
1512053100.0
31/10/2017, 21:45:00+0800
1509457500.0
29/09/2017, 21:45:00+0800
1506692700.0
31/08/2017, 21:45:00+0800
1504187100.0
31/07/2017, 21:45:00+0800
1501508700.0
30/06/2017, 21:45:00+0800
1498830300.0
31/05/2017, 21:45:00+0800
1496238300.0
28/04/2017, 21:45:00+0800
1493387100.0
31/03/2017, 21:45:00+0800
1490967900.0
28/02/2017, 22:45:00+0800
1488293100.0
31/01/2017, 22:45:00+0800
1485873900.0
30/12/2016, 22:45:00+0800
1483109100.0
30/11/2016, 22:45:00+0800
1480517100.0
31/10/2016, 21:45:00+0800
1477921500.0
30/09/2016, 21:45:00+0800
1475243100.0
31/08/2016, 21:45:00+0800
1472651100.0
29/07/2016, 21:45:00+0800
1469799900.0
30/06/2016, 21:45:00+0800
1467294300.0
31/05/2016, 21:45:00+0800
1464702300.0
29/04/2016, 21:45:00+0800
1461937500.0
31/03/2016, 21:45:00+0800
1459431900.0
29/02/2016, 22:45:00+0800
1456757100.0
29/01/2016, 22:45:00+0800
1454078700.0
31/12/2015, 22:45:00+0800
1451573100.0
30/11/2015, 22:45:00+0800
1448894700.0
30/10/2015, 21:45:00+0800
1446212700.0
30/09/2015, 21:45:00+0800
1443620700.0
31/08/2015, 21:45:00+0800
1441028700.0
31/07/2015, 21:45:00+0800
1438350300.0
30/06/2015, 21:45:00+0800
1435671900.0
29/05/2015, 21:45:00+0800
1432907100.0
30/04/2015, 21:45:00+0800
1430401500.0
31/03/2015, 21:45:00+0800
1427809500.0
27/02/2015, 22:45:00+0800
1425048300.0
30/01/2015, 22:45:00+0800
1422629100.0
31/12/2014, 22:45:00+0800
1420037100.0
26/11/2014, 22:45:00+0800
1417013100.0
31/10/2014, 21:45:00+0800
1414763100.0
30/09/2014, 21:45:00+0800
1412084700.0
29/08/2014, 21:45:00+0800
1409319900.0
31/07/2014, 21:45:00+0800
1406814300.0
30/06/2014, 21:45:00+0800
1404135900.0
30/05/2014, 21:45:00+0800
1401457500.0
30/04/2014, 21:45:00+0800
1398865500.0
31/03/2014, 21:45:00+0800
1396273500.0
28/02/2014, 22:45:00+0800
1393598700.0
31/01/2014, 22:45:00+0800
1391179500.0
31/12/2013, 22:45:00+0800
1388501100.0
27/11/2013, 22:45:00+0800
1385563500.0
31/10/2013, 21:45:00+0800
1383227100.0
30/09/2013, 21:45:00+0800
1380548700.0
30/08/2013, 21:45:00+0800
1377870300.0
31/07/2013, 21:45:00+0800
1375278300.0
28/06/2013, 21:45:00+0800
1372427100.0
31/05/2013, 21:45:00+0800
1370007900.0
30/04/2013, 21:45:00+0800
1367329500.0
28/03/2013, 21:45:00+0800
1364478300.0
28/02/2013, 22:45:00+0800
1362062700.0
31/01/2013, 22:45:00+0800
1359643500.0

KeyboardInterrupt:

In [ ]:
import os
from finrl.config import config
#os.listdir(f'{config.DATASET_DIR}/chicago_pmi/AUDUSD/raw')[12:15]
#auto translate raw csv files to ohlc via for loop
for csvfile in os.listdir(f'{config.DATASET_DIR}/chicago_pmi/AUDUSD/raw'):
    raw_df = data.load_dataset('chicago_pmi/AUDUSD/raw/' + csvfile)
    ohlc_df = data.format_ohlc(raw_df)
    data.export_dataset(ohlc_df, 'chicago_pmi/AUDUSD/ohlc/' + csvfile)

In [ ]:
"""
Technical Indicators - Parameter Map
List of Technical Indicators:
SMA - Simple Moving Average 
EMA - Exponential Moving Average
BBANDS - Bolinger Bands
MACD - Moving Average Convergence/Divergence
STOCH - Stochastic
RSI - Relative Strength Index
MOM - Momentum
STOCHRSI - Stochastic Relative Strength Index
KAMA - Kaufman Adaptive Moving Average
T3 - Triple Exponential Moving Average (T3)
ATR - Average True Range
NATR - Normalized Average True Range
TSF - Time Series Forecast
HT_SINE - Hilbert Transform - SineWave  ---> can't seem to find the parameter required
"""

In [12]:
#import data
from finrl.preprocessing import data, preprocessors
data_df=data.load_ohlc_dataset("chicago_pmi/EURUSD/ohlc/EURUSD_Chicago_Pmi_2018-01-31.csv")

In [13]:
data_df

                               ask                                 bid  \
                              open     high      low    close     open
time
2018-01-31 13:45:00+00:00  1.24666  1.24667  1.24666  1.24667  1.24664
2018-01-31 13:45:01+00:00  1.24669  1.24669  1.24667  1.24667  1.24666
2018-01-31 13:45:02+00:00  1.24667  1.24667  1.24667  1.24667  1.24665
2018-01-31 13:45:03+00:00  1.24667  1.24667  1.24667  1.24667  1.24666
2018-01-31 13:45:04+00:00  1.24667  1.24667  1.24667  1.24667  1.24666
...                            ...      ...      ...      ...      ...
2018-01-31 15:44:55+00:00  1.24705  1.24705  1.24705  1.24705  1.24703
2018-01-31 15:44:56+00:00  1.24704  1.24707  1.24704  1.24707  1.24703
2018-01-31 15:44:57+00:00  1.24710  1.24710  1.24707  1.24707  1.24705
2018-01-31 15:44:58+00:00  1.24708  1.24708  1.24708  1.24708  1.24704
2018-01-31 15:44:59+00:00  1.24708  1.24708  1.24708  1.24708  1.24706

                                                           bid_vol  \
                              high      low    close       bid_vol
time
2018-01-31 13:45:00+00:00  1.24666  1.24664  1.24666  4.680000e+06
2018-01-31 13:45:01+00:00  1.24666  1.24665  1.24665  4.900000e+06
2018-01-31 13:45:02+00:00  1.24665  1.24665  1.24665  0.000000e+00
2018-01-31 13:45:03+00:00  1.24666  1.24665  1.24665  2.200000e+06
2018-01-31 13:45:04+00:00  1.24666  1.24666  1.24666  1.000000e+06
...                            ...      ...      ...           ...
2018-01-31 15:44:55+00:00  1.24703  1.24703  1.24703  2.500000e+06
2018-01-31 15:44:56+00:00  1.24705  1.24703  1.24705  4.870000e+06
2018-01-31 15:44:57+00:00  1.24706  1.24705  1.24706  1.068000e+07
2018-01-31 15:44:58+00:00  1.24704  1.24704  1.24704  5.320000e+06
2018-01-31 15:44:59+00:00  1.24706  1.24706  1.24706  1.000000e+06

                                ask_vol
                                ask_vol
time
2018-01-31 13:45:00+00:00  2.500000e+06
2018-01-31 13:45:01+00:00  4.810000e+06
2018-01-31 13:45:02+00:00  0.000000e+00
2018-01-31 13:45:03+00:00  3.000000e+06
2018-01-31 13:45:04+00:00  1.500000e+06
...                                 ...
2018-01-31 15:44:55+00:00  3.990000e+06
2018-01-31 15:44:56+00:00  3.990000e+06
2018-01-31 15:44:57+00:00  1.795000e+07
2018-01-31 15:44:58+00:00  3.370000e+06
2018-01-31 15:44:59+00:00  2.250000e+06

[7200 rows x 10 columns]

In [14]:
#create parameter map
param_map = {
                'sma_9': {'talib_name' : 'SMA', 'time_period' : 9}, #time_period in seoonds
                'ema_9': {'talib_name' : 'EMA', 'time_period' : 9}, #time_period in seoonds
                'sma_21' : {'talib_name' : 'SMA', 'time_period' : 21},
                'ema_21' : {'talib_name' : 'EMA', 'time_period' : 21},
                'bbands_9':{'talib_name':'BBANDS','time_period':9,'nbdevup':2.0,'nbdevdn':2.0,'matype':0},
                'bbands_12':{'talib_name':'BBANDS','time_period':12,'nbdevup':2.0,'nbdevdn':2.0,'matype':0},
                'macd_entry':{'talib_name':'MACD', 'fastperiod':12, 'slowperiod':26,'signalperiod':9},
                'macd_exit':{'talib_name':'MACD', 'fastperiod':19, 'slowperiod':39,'signalperiod':9},
                'stoch':{'talib_name':'STOCH', 'fastk_period':5, 'slowk_period':3, 'slowk_matype':0, 'slowd_period':3, 'slowd_matype':0},
                'rsi_14':{'talib_name':'RSI', 'time_period':14},
                'rsi_4':{'talib_name':'RSI','time_period':4},
                'mom_10':{'talib_name':'MOM', 'time_period':10},
                'stochrsi_14':{'talib_name':'STOCHRSI', 'time_period':14, 'fastk_period':5,'fastd_period':3, 'fastd_matype':0},
                'kama_30':{'talib_name':'KAMA', 'time_period':30},
                't3_5':{'talib_name':'T3', 'time_period':5, 'vfactor':0.7},
                'atr_14':{'talib_name':'ATR', 'time_period':14},
                'natr_14':{'talib_name':'NATR', 'time_period':14},
                'tsf_14':{'talib_name':'TSF', 'time_period':14},
}

In [11]:
# view parameters for each technical indicator
from talib import abstract
indicator = abstract.Function('HT_SINE')
indicator

{'name': 'HT_SINE', 'group': 'Cycle Indicators', 'display_name': 'Hilbert Transform - SineWave', 'function_flags': ['Function has an unstable period'], 'input_names': OrderedDict([('price', 'close')]), 'parameters': OrderedDict(), 'output_flags': OrderedDict([('sine', ['Line']), ('leadsine', ['Dashed Line'])]), 'output_names': ['sine', 'leadsine']}

In [16]:
data_df = preprocessors.FeatureEngineer(data_df,
                          tech_indicator_params_map = param_map,
                          use_technical_indicator=True,
                          user_defined_feature=False,
                          tech_indicator_list = ["sma_9", "ema_9", "sma_21", "ema_21","bbands_9","bbands_12","macd_entry","macd_exit","stoch","rsi_14","rsi_4","mom_10","stochrsi_14","kama_30","t3_5","atr_14","natr_14","tsf_14"]).preprocess_data()

bbands_9 does not exist or has wrong parameters,  Wrong number of items passed 3, placement implies 1
bbands_12 does not exist or has wrong parameters,  Wrong number of items passed 3, placement implies 1
macd_entry does not exist or has wrong parameters,  Wrong number of items passed 3, placement implies 1
macd_exit does not exist or has wrong parameters,  Wrong number of items passed 3, placement implies 1
stoch does not exist or has wrong parameters,  Wrong number of items passed 2, placement implies 1
stochrsi_14 does not exist or has wrong parameters,  Wrong number of items passed 2, placement implies 1
Successfully added technical indicators

In [17]:
data_df

                               ask                                 bid  \
                              open     high      low    close     open
time
2018-01-31 13:45:00+00:00  1.24666  1.24667  1.24666  1.24667  1.24664
2018-01-31 13:45:01+00:00  1.24669  1.24669  1.24667  1.24667  1.24666
2018-01-31 13:45:02+00:00  1.24667  1.24667  1.24667  1.24667  1.24665
2018-01-31 13:45:03+00:00  1.24667  1.24667  1.24667  1.24667  1.24666
2018-01-31 13:45:04+00:00  1.24667  1.24667  1.24667  1.24667  1.24666
...                            ...      ...      ...      ...      ...
2018-01-31 15:44:55+00:00  1.24705  1.24705  1.24705  1.24705  1.24703
2018-01-31 15:44:56+00:00  1.24704  1.24707  1.24704  1.24707  1.24703
2018-01-31 15:44:57+00:00  1.24710  1.24710  1.24707  1.24707  1.24705
2018-01-31 15:44:58+00:00  1.24708  1.24708  1.24708  1.24708  1.24704
2018-01-31 15:44:59+00:00  1.24708  1.24708  1.24708  1.24708  1.24706

                                                           bid_vol  \
                              high      low    close       bid_vol
time
2018-01-31 13:45:00+00:00  1.24666  1.24664  1.24666  4.680000e+06
2018-01-31 13:45:01+00:00  1.24666  1.24665  1.24665  4.900000e+06
2018-01-31 13:45:02+00:00  1.24665  1.24665  1.24665  0.000000e+00
2018-01-31 13:45:03+00:00  1.24666  1.24665  1.24665  2.200000e+06
2018-01-31 13:45:04+00:00  1.24666  1.24666  1.24666  1.000000e+06
...                            ...      ...      ...           ...
2018-01-31 15:44:55+00:00  1.24703  1.24703  1.24703  2.500000e+06
2018-01-31 15:44:56+00:00  1.24705  1.24703  1.24705  4.870000e+06
2018-01-31 15:44:57+00:00  1.24706  1.24705  1.24706  1.068000e+07
2018-01-31 15:44:58+00:00  1.24704  1.24704  1.24704  5.320000e+06
2018-01-31 15:44:59+00:00  1.24706  1.24706  1.24706  1.000000e+06

                                ask_vol  ...       ovr                       \
                                ask_vol  ...    sma_21    ema_21     rsi_14
time                                     ...
2018-01-31 13:45:00+00:00  2.500000e+06  ...       NaN       NaN        NaN
2018-01-31 13:45:01+00:00  4.810000e+06  ...       NaN       NaN        NaN
2018-01-31 13:45:02+00:00  0.000000e+00  ...       NaN       NaN        NaN
2018-01-31 13:45:03+00:00  3.000000e+06  ...       NaN       NaN        NaN
2018-01-31 13:45:04+00:00  1.500000e+06  ...       NaN       NaN        NaN
...                                 ...  ...       ...       ...        ...
2018-01-31 15:44:55+00:00  3.990000e+06  ...  1.247078  1.247057  44.541203
2018-01-31 15:44:56+00:00  3.990000e+06  ...  1.247079  1.247057  50.274305
2018-01-31 15:44:57+00:00  1.795000e+07  ...  1.247080  1.247058  51.620794
2018-01-31 15:44:58+00:00  3.370000e+06  ...  1.247081  1.247058  50.158119
2018-01-31 15:44:59+00:00  2.250000e+06  ...  1.247081  1.247059  53.024968

                                                                              \
                               rsi_4    mom_10   kama_30      t3_5    atr_14
time
2018-01-31 13:45:00+00:00        NaN       NaN       NaN       NaN       NaN
2018-01-31 13:45:01+00:00        NaN       NaN       NaN       NaN       NaN
2018-01-31 13:45:02+00:00        NaN       NaN       NaN       NaN       NaN
2018-01-31 13:45:03+00:00        NaN       NaN       NaN       NaN       NaN
2018-01-31 13:45:04+00:00        NaN       NaN       NaN       NaN       NaN
...                              ...       ...       ...       ...       ...
2018-01-31 15:44:55+00:00  44.541203 -0.000055  1.247065  1.247053  0.000017
2018-01-31 15:44:56+00:00  50.274305 -0.000010  1.247065  1.247049  0.000017
2018-01-31 15:44:57+00:00  51.620794  0.000000  1.247065  1.247049  0.000017
2018-01-31 15:44:58+00:00  50.158119 -0.000010  1.247065  1.247050  0.000017
2018-01-31 15:44:59+00:00  53.024968  0.000000  1.247065  1.247054  0.000016


                            natr_14    tsf_14
time
2018-01-31 13:45:00+00:00       NaN       NaN
2018-01-31 13:45:01+00:00       NaN       NaN
2018-01-31 13:45:02+00:00       NaN       NaN
2018-01-31 13:45:03+00:00       NaN       NaN
2018-01-31 13:45:04+00:00       NaN       NaN
...                             ...       ...
2018-01-31 15:44:55+00:00  0.001339  1.247034
2018-01-31 15:44:56+00:00  0.001387  1.247037
2018-01-31 15:44:57+00:00  0.001402  1.247042
2018-01-31 15:44:58+00:00  0.001331  1.247047
2018-01-31 15:44:59+00:00  0.001293  1.247055

[7200 rows x 28 columns]

In [ ]:
train = data_df['ovr'].iloc[29:]
train.reset_index(inplace=True, col_fill='date')
train.rename(columns={
    "time" : "date"
}, inplace=True)
train