In [27]:
%load_ext autoreload
%autoreload
from finrl.preprocessing.influx_data import *

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [28]:
export_csv_aggregated_from_influx("EURUSD", "01-01-2019 11:00:00", "01-01-2019 23:00:00", '15min', 'month_15sec/EURUSD/01_19.csv')

select "bid", "ask", "bid_vol", "ask_vol" from "dukascopy".."EURUSD" where time >= 1546340400000000000 and time <= 1546383600000000000 order by time asc
                             bid      ask  bid_vol  ask_vol  count
time
2019-01-01 22:02:37.254  1.14598  1.14682     3.75     0.75      0
2019-01-01 22:02:38.590  1.14599  1.14682     2.25     0.75      0
2019-01-01 22:02:39.138  1.14599  1.14684     3.75     0.75      0
2019-01-01 22:02:55.787  1.14598  1.14684     3.75     0.75      0
2019-01-01 22:03:02.060  1.14598  1.14684     3.75     0.75      0
...                          ...      ...      ...      ...    ...
2019-01-01 22:59:57.901  1.14602  1.14641     2.19     1.05      0
2019-01-01 22:59:58.003  1.14602  1.14641     1.75     1.05      0
2019-01-01 22:59:58.522  1.14604  1.14641     1.12     1.05      0
2019-01-01 22:59:59.484  1.14604  1.14640     2.19     1.05      0
2019-01-01 22:59:59.943  1.14606  1.14641     1.25     1.05      0

[1569 rows x 5 columns]
                         ask                                 bid           \
                        open     high      low    close     open     high
time
2019-01-01 22:00:00  1.14682  1.14691  1.14636  1.14667  1.14598  1.14672
2019-01-01 22:15:00  1.14669  1.14675  1.14636  1.14660  1.14607  1.14617
2019-01-01 22:30:00  1.14662  1.14674  1.14626  1.14643  1.14611  1.14635
2019-01-01 22:45:00  1.14643  1.14675  1.14630  1.14641  1.14627  1.14643

                                           bid_vol     ask_vol count
                         low    close      bid_vol     ask_vol count
time
2019-01-01 22:00:00  1.14598  1.14608   333.350000  283.779999   273
2019-01-01 22:15:00  1.14604  1.14611   335.070000  210.719999   282
2019-01-01 22:30:00  1.14603  1.14625   533.520000  306.780000   350
2019-01-01 22:45:00  1.14602  1.14606  1152.369995  911.609986   664

In [12]:
df

                        time      bid      ask  bid_vol  ask_vol
0    2020-01-01 22:01:12.821  1.12106  1.12160     0.75   0.0937
1    2020-01-01 22:01:17.176  1.12120  1.12160     0.75   0.0937
2    2020-01-01 22:01:18.545  1.12117  1.12160     0.75   0.0937
3    2020-01-01 22:01:19.145  1.12123  1.12161     0.75   0.8400
4    2020-01-01 22:01:19.246  1.12120  1.12161     0.75   0.8400
...                      ...      ...      ...      ...      ...
1418 2020-01-01 22:59:32.978  1.12148  1.12159     0.75   0.7500
1419 2020-01-01 22:59:35.306  1.12148  1.12156     0.75   0.3700
1420 2020-01-01 22:59:35.408  1.12148  1.12157     0.75   0.5600
1421 2020-01-01 22:59:37.715  1.12145  1.12157     0.75   0.1900
1422 2020-01-01 22:59:50.894  1.12143  1.12157     0.75   0.1900

[1423 rows x 5 columns]